.wrapper {
	width: 100%;
	background-image: url("../images/tatooinebackground.jpg");
	color: white;
}
body
h1 {
	text-align: center;
}
html {
	background-image: url("../images/tatooinebackground.jpg");
}
.label {
	width:100%;
	float: clear;
}
img {
	width:150px;
}
.charimg {
	width:150px;
	display: inline-block;
}
div {
	
}
h2 {
	width:100%;
}
div {
	
}
#han {

}
#kylo {

}
#darth {

}
#emporer {

}
#gameActivity {
	
}
.lead {
	text-align: center;
}
.container {
	background-image: url("../images/tatooinebackground.jpg");
}
.jumbotron {
	background-image: url("../images/tatooinebackground.jpg");
	color:black;
}

